<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggleR(task)"
>
  <h3>
    {{ task.text }}

    <fa-icon
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
      (click)="onDelete(task)"
    ></fa-icon>
  </h3>
  <p>{{ task.day }}</p>
</div>
